@charset "UTF-8"; 

/*=//=//=//=//= RESET =//=//=//=//=*/

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

/*=//=//=//=//= VARIABLES =//=//=//=//=*/
:root {
    --color1: #012340; 
    --color2: #05AFF2; 
    --color3: #05C7F2; 
    --color4: #05DBF2; 
    --color5: #734338; 


    --font-padrão: Arial, Helvetica, sans-serif; 
    --font-destaque: 'Times New Roman', Times, serif; 
}

body {
    background-color: var(--color3);
    font-family: var(--font-padrão);
}

header {
    background-color: var(--color1);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    line-height: 3em;
}

header > h1 {
    font-size: 2em;
    color: white;
    border: 5px solid white;
    background-color: var(--color3); 
    border-radius: 15px;
    text-shadow: 1px 1px 0px black;
}

/*=//=//=//=//=/ Background-images /=//=//=//=//=*/

header#img02 {
    background-image: url('../imagens/img-people-1.jpg');
    background-position: left top;
}

header.imagem {
    padding-top: 15vh;
    padding-bottom: 20vh;
    padding-left: 30px;
    line-height: 2em;
    background-color: rgb(51, 51, 51);
    color: white;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    font-family: var(--font-destaque);
    font-size: 3.5vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

header.imagem p {
    display: inline-block;
    padding-bottom: 2em;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
    border-radius: 10px;
}

h1.cart::after {
    content: '\00A0\1F6D2';
}

header > p {
    color: white;
    font-size: 1.3em;
}

main {
    background-color: white;
    min-height: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.400);
    border: 10px 0px 10px 0px;
    border-radius: 0px 0px 10px 10px;
}

main h1 {
    color: var(--color1);
    background-image: linear-gradient(to right, var(--color2), transparent);
}

main ul {
    padding: 30px;
    columns: 2;
    font-size: 1.5em;  
    list-style-position: inside;
    list-style-type: '\1F6D2';
}

a.list {
    text-decoration: none;
    color: var(--color1);
    font-size: bolder;
}

a.list:hover {
    text-decoration: underline; 
    background-color: var(--color2);
    transition-duration: 0.5s;
}

header {
    padding: 10px;
    background-color: var(--color2);
    margin-bottom: 20px;
    min-height: 100px; /*tamanho para regular*/
    color: white;
}

section > h3 {
    background-color: var(--color1);
    margin-bottom: 10px;
    padding: 5px;
}


aside {
    background-color: var(--color2);
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.287);
}

aside > h3 {
    background-color: var(--color1);
    font-size: 1.5em;
    padding: 10px;
    margin: -12px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > p {
    font-weight: bolder;
    padding: 15px;
    text-align: justify;
}

input#button {
    width: 150px;
    height: 20px;
    background-color: var(--color1);
    color: white;
    margin-top: 20px;
    margin-bottom: 30px;
}

div#resposta {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--color1);
}

label:hover {
    text-decoration: underline; 
    background-color: var(--color1);
    transition-duration: 0.5s;
}


/*=//=//=//=//=/ Background footer /=//=//=//=//=*/

footer#img02 {
    background-image: url('../imagens/img-people-1.jpg');
    background-position: left top;
}

footer.imagem {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    background-color: rgb(51, 51, 51);
    color: white;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    font-family: var(--font-destaque);
    font-size: 3.5vw;
}

footer.imagem #text-footer {
    display: inline-block;
    padding-bottom: 2em;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
}

footer > #credits-footer {
    color: white;
    padding: 20px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    color: var(--color2);
    text-decoration: underline;
}

